<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>abc</servlet-name>
        <servlet-class>controller.WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestAndResponse</servlet-name>
        <servlet-class>controller.RequestAndResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentHome</servlet-name>
        <servlet-class>controller.StudentHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inbox</servlet-name>
        <servlet-class>controller.Inbox</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SentItems</servlet-name>
        <servlet-class>controller.SentItems</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Draft</servlet-name>
        <servlet-class>controller.Draft</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>controller.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteData</servlet-name>
        <servlet-class>controller.DeleteData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateData</servlet-name>
        <servlet-class>controller.UpdateData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadData</servlet-name>
        <servlet-class>controller.DownloadData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>abc</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestAndResponse</servlet-name>
        <url-pattern>/reqandres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentHome</servlet-name>
        <url-pattern>/StudentHome</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>login_filter</filter-name>
        <filter-class>controller.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>login_filter</filter-name>
        <url-pattern>/StudentHome</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>Inbox</servlet-name>
        <url-pattern>/Inbox</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SentItems</servlet-name>
        <url-pattern>/SentItems</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Draft</servlet-name>
        <url-pattern>/Draft</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteData</servlet-name>
        <url-pattern>/deletedata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateData</servlet-name>
        <url-pattern>/UpdateData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadData</servlet-name>
        <url-pattern>/DownloadData</url-pattern>
    </servlet-mapping>
</web-app>
